    <!--NAVIGATION-->
    <nav id="navigationbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="navHome" href="#">
                    <img src="resources/Securis-Fátima17_logo_lat.png" class="img-responsive desktop-only" width="170" height="170" alt="SECURIS: Fatima logo">
                    <img src="resources/securis.svg" class="img-responsive mobile-medium" width="50" height="50" alt="SECURIS: Fatima logo">
                </a>
            </div>

            <ul class="nav navbar-nav mobile-only" id="emergency_button">
                <li><a href="#">
                    <img src="resources/emergency.svg" class="img-responsive" width="45" height="45" alt=""> 
                </a></li>
            </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right mobile-only">
                    <li class="navOption"><a href="#">
                        <span class="english">Explore</span>
                        <span class="portugues">Explorar</span>
                    </a></li>
                    <li class="navOption"><a href="#">
                        <span class="english">History</span>
                        <span class="portugues">História</span>
                    </a></li>
                    <li class="navOption"><a href="#">
                        <span class="english">Centennial</span>
                        <span class="portugues">Centenário</span>
                    </a></li>
                    <li class="navOption"><a href="#">
                        <span class="english">Directions</span>
                        <span class="portugues">Direções</span>
                    </a></li>
                    <li class="navOption"><a href="#">
                        <span class="english">Security</span>
                        <span class="portugues">Segurança</span>
                    </a></li>
                    <li class="navOption"><a href="#">
                        <span class="english">Lost People</span>
                        <span class="portugues">Pessoas Perdidas</span>
                    </a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="english">Language</span><span class="portugues">Linguagem</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="langOption">
                                <a href="javascript:chooseStyle('none', 60)">English <span class="english glyphicon glyphicon-ok"></span></a>
                            </li>
                            <li class="langOption">
                                <a href="javascript:chooseStyle('alternate', 60)">Português <span class="portugues glyphicon glyphicon-ok"></span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right desktop-medium">
                    <li role="presentation" class="dropdown desktop-medium">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="english">Explore</span>
                            <span class="portugues">Explorar</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="navOption"><a href="#">
                                <span class="english">Explore</span>
                                <span class="portugues">Explorar</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Points of Interest</span>
                                <span class="portugues">Pontos de Interesse</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Contacts</span>
                                <span class="portugues">Contactos</span>
                            </a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown desktop-medium">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="english">History</span>
                            <span class="portugues">História</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="navOption"><a href="#">
                                <span class="english">Our Lady of Fatima</span>
                                <span class="portugues">Nossa Senhora de Fátima</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">The Three Shepherds</span>
                                <span class="portugues"> Os três Pastorinhos</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Appearances</span>
                                <span class="portugues">Aparições</span>
                            </a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown desktop-medium">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="english">Centennial</span>
                            <span class="portugues">Centenário</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="navOption"><a href="#">
                                <span class="english">Pray</span>
                                <span class="portugues">Orações</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Program</span>
                                <span class="portugues">Programa</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">News</span>
                                <span class="portugues">Notícias</span>
                            </a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown desktop-medium">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="english">Directions</span>
                            <span class="portugues">Direções</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="navOption"><a href="#">
                                <span class="english">On Foot</span>
                                <span class="portugues">A pé</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">By Car</span>
                                <span class="portugues">Carro</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Public Transportation</span>
                                <span class="portugues">Transportes Públicos</span>
                            </a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown desktop-medium">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="english">Security</span>
                            <span class="portugues">Segurança</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="navOption"><a href="#">
                                <span class="english">Advice</span>
                                <span class="portugues">Conselhos</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Emergency Situations</span>
                                <span class="portugues">Emergências</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Lost People</span>
                                <span class="portugues">Pessoas Perdidas</span>
                            </a></li>
                            <li class="navOption"><a href="#">
                                <span class="english">Consulates / Embassies</span>
                                <span class="portugues">Consulados / Embaixadas</span>
                            </a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          <span class="english">Language</span><span class="portugues">Linguagem</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="langOption">
                                <a href="javascript:chooseStyle('none', 60)">English <span class="english glyphicon glyphicon-ok"></span></a>
                            </li>
                            <li class="langOption">
                                <a href="javascript:chooseStyle('alternate', 60)">Português <span class="portugues glyphicon glyphicon-ok"></span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <nav id="submenu" class="navbar-static-top mobile-only">
        <div class="container-fluid">
                <ul class="nav nav-submenu nav-pills">
                    <li role="presentation" class="active">
                        <a href="#" class="btn">
                            <span class="english">Security</span>
                            <span class="portugues">Segurança</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="btn">
                            <span class="english">Security</span>
                            <span class="portugues">Segurança</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" class="btn">
                            <span class="english">Security</span>
                            <span class="portugues">Segurança</span>
                        </a>
                    </li>
                </ul>
        </div>
    </nav>          